.score_card{
	max-width: 400px;
	border-radius: 7px;
	background-color: red;
	display: block;
	padding: 30px;
	box-sizing: border-box;
	overflow: hidden;
	margin: 40px auto;
	background-color: rgba(85, 85, 85, 0.9);
	border: solid 6px #555555;
}

.inner_card{
	max-width: 400px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
}

.left_team,
.right_team{
	height: 100%;
	display: block;
	width: 150px;
	float: left;
}

.vs{
	float: left;
	width: calc(100% - 300px);
	text-align: center;
	color: white;
	padding-top: 40px;
	font-family: 'Open Sans';
}

.left_team .team_container,
.right_team .team_container{
	font-family: 'Open Sans';
	font-size: 18px;
	color: white;
	text-align: right;
	font-weight: 300;
	width: 100%;
}

.right_team .team_container{
	text-align: left;
}

.left_team .team_container img,
.right_team .team_container img{
	width: 35px;
	float: right;
	display: block;
	margin: 0 auto;
}

.right_team .team_container img{
	float: left;
}

.left_team .team_container span,
.right_team .team_container span{
	font-size: 40px;
	width: 100%;
	clear: both;
	display: block;
	margin-left: -6px;
	font-weight: 600;
}

.right_team .team_container span{
	margin-left: 6px;
}

.start{
	width: 100%;
	font-family: 'Open Sans';
	font-size: 16px;
	color: white;
	display: block;
	text-align: center;
	padding-top: 30px;
}

.fact_card{
	max-width: 400px;
	height: 300px;
	background-color: rgba(85, 85, 85, 0.8);
	border: solid 5px #555555;
	display: block;
	margin: 50px auto;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 20px;
}

.one_event{
	width: 100%;
	font-family: 'Open Sans';
	font-size: 20px;
	color: white;
	margin-bottom: 10px;
}
