* {
  margin: 0;
  padding: 0;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner #bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff url (soccer-gear.svg);
  background-repeat: no-repeat;
}
